
@model test.Models.SampleFormModel

 <nav style="margin-top:10px;margin-bottom:10px;" id="grid">
                <ul class="pagination">
                    <li class="page-item"><span class="page-link">前</span></li>
                    <li class="page-item active"><span class="page-link">1</span></li>
                    <li class="page-item"><span class="page-link">2</span></li>
                    <li class="page-item"><span class="page-link">3</span></li>
                    <li class="page-item"><span class="page-link">次</span></li>
                </ul>
            </nav>
